.countries {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search-and-filter {

    .search-input {
        width: 40%;
        height: 2em;
        border: none;
        border-radius: 8px;
        padding: 1em;
        color: var(--input-color);
        box-shadow: var(--box-shadow);
        background-color: var(--elements);
    
        &:focus {
            outline: none;
        }
    
        @media only screen and (max-width: 425px) {
            width: 100%;
        }
    }

    .select {
        background: var(--elements);
        color: var(--input-color);
        border-radius: 8px;
        border: none;
        width: 30%;
        height: 4em;
        box-shadow: var(--box-shadow);
        padding: 1em;

        &:focus {
            outline: none;
        }

        @media only screen and (max-width: 425px) {
            width: 80%;
        }
    }
}