@import "../../variables";
.header {
    background-color: var(--elements);
    align-items: center;
    padding: 1em 2em;
    box-shadow: $box-shadow;
    cursor: pointer;

    .app-title {
        margin: 0;
    }

    .dark-mode-toggle {
        font-weight: 600;
    }
}