// colors
/*
Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
*/
$white: hsl(0, 0%, 100%);
$primary: hsl(200, 15%, 8%);
$light-gray: hsl(0, 0%, 98%);
$dark-gray: hsl(0, 0%, 52%);


// Shadows
$box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);