@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "variables";

body {
  background-color: $light-gray;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  padding: 1em 2em;

  @media only screen and (max-width: 425px) {
    padding: 1em;
  }
}

.bold {
  font-weight: 600;
}

.list-style-none {
  list-style: none;
  padding-inline-start: 0;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}